@font-face {
    font-family: 'Digital';
    src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
    src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
        format('embedded-opentype'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
        format('woff2'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
        format('woff'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
        format('truetype'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
        format('svg');
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Space Mono", monospace;
    background-color: #000205;
}

button{
    outline: none;
    border: none;
}
p{
    padding: 10px;
    background-color: #d4f2f4;
}
#github{
    color: #d1dae5;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 100px;
    transform: translate(-50%,-50%);
    text-decoration: none;
    background-image: linear-gradient(#d4f2f4,#d4f2f4);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .2s;
    
}#github:hover{
    background-size: 100% 100%;
    color: #000205;
}
#calculator{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #d4f2f4;
    border: 10px solid ;
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-color: #d4f2f4;
    border-radius: 0.2rem;
    width: 350px;
}

.screen{
    background-color: #111;
    font-family: 'Digital';
    padding: 5px;
    text-align: end;
    word-wrap: break-word;
}

.formula{
    color: #ff6738;
    min-height: 20px;
}
#display,#error{
    /* padding-top: 5px; */
    font-size: 1.5rem;
    color: #d4f2f4;
}

#buttons{
    margin-top: 3px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2px;
    grid-auto-flow: dense;
    padding: 3px;
    background-color: #000205;
}

.btn{
    flex-grow: 1;
    padding: 20px 30px;
    font-size: 1.5rem;
    background-color: #d4f2f4;
    cursor: pointer;
}
.btn:hover{
    background-color: #d1dae5;
}
#clear{
    grid-row: 1;
    grid-column: span 2;
    background-color: #f88672;
}
#zero{
    grid-row: 5;
    grid-column: span 2;
}
#decimal{
    grid-row: 5;
}
#equals{
    grid-row: 4 / span 2;
    background-color: #1260f3;
}
#multiply, #divide{
    grid-row-start: 1;
}
#add , #subtract{
    grid-column: 4;
}

#add , #subtract , #multiply, #divide{
    background-color: #dcf64c;
}

#equals:hover , #clear:hover , #add:hover , #subtract:hover , #multiply:hover , #divide:hover{
    opacity: 95%;
}